.circle {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
}

.remove {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.alert p {
    margin-bottom: 0;
}

.order_by {
    padding: 5px;
    cursor: pointer
}

.order_by.selected {
    font-weight: bold;
    color: green;
    font-size: 22px;
}